html,body{
	width: 100%;
	height: 100%;
}
#app{
	width: 100%;
	height: 100%;	
}
.con{
  	height: 100%;
}
.my-row{
  	height: 100%; 
}
.left{
	background-color: #F5F5F5;
	height: 100%;
	padding-top: 60px;
}
.right{
	height: 100%;
	padding-top: 20px;
	overflow: auto;
}